<%- include('partials/header') %>

<div class="container mt-4">
  <div class="row g-4">
    <% pokemons.forEach(pokemon => { %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100 pokemon-card">
        <img
          src="<%= pokemon.image %>"
          data-img="<%= pokemon.image %>"
          data-gif="<%= pokemon.gif %>"
          data-state="image"
          class="card-img-top pokemon-media"
          alt="<%= pokemon.name %>"
        />

        <div class="card-body">
          <h5 class="card-title"><%= pokemon.name %></h5>

          <p class="card-text">
            <%= pokemon.type.map(id => { const t = types.find(type => type.id
            === id); return t ? t.name : "Unknown"; }).join(", ") %>
          </p>

          <p class="card-text">Level: <%= pokemon.level %></p>

          <p class="card-text">HP: <%= pokemon.hp %></p>

          <button class="btn btn-primary btn-sm toggle-media">Show GIF</button>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<script>
  document.addEventListener("click", (e) => {
    // Condition if user press not to button which have class toggle-media
    if (!e.target.classList.contains("toggle-media")) return;

    // go to up from button to parents and find closest parent with class 'pokemon card'
    const card = e.target.closest(".pokemon-card");
    const img = card.querySelector(".pokemon-media");

    // check if img dataset state === image
    const isImage = img.dataset.state === "image";

    if (isImage) {
      // change src to gif
      img.src = img.dataset.gif;
      // change state to gif
      img.dataset.state = "gif";
      e.target.textContent = "Show Image";
    } else {
      // change src to img
      img.src = img.dataset.img;
      // change state to image
      img.dataset.state = "image";
      e.target.textContent = "Show GIF";
    }
  });
</script>

<%- include('partials/footer') %>
